[submodule "dependences/glm"]
	path = dependences/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependences/assimp"]
	path = dependences/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependences/glfw"]
	path = dependences/glfw
	url = https://github.com/glfw/glfw.git
